.aboutBody {
    position: fixed;
    left: 26%;
    right: 1%;
    overflow-y: auto;
    height: 100%;
}

.aboutTitle {
    font-size: xx-large;
    text-align: center;
    font-weight: 300;
}

.aboutDescription {
    font-size: large;
    text-align: left;
    font-weight: 200;
}